<div id="<%= dom_id group %>">
  <p>
    <strong>Name:</strong>
    <%= group.name %>
  </p>

  <p>
    <strong>Icon:</strong>
    <%= image_tag url_for(group.avatar) %>
  </p>

  <p>
    <strong>User:</strong>
    <%= group.user_id %>
  </p>

</div>
