<p style="color: green"><%= notice %></p>

<h1>Groups</h1>

<div id="groups">
  <% @groups.each do |group| %>
    <%= render group %>
    <p>
      <%= link_to "Show this group", entities_url(group_id: group.id) %>
    </p>
  <% end %>
</div>

<%= link_to "New group", new_group_path %>
