<html>
  <head>
    <%= stylesheet_link_tag "group_new", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div class="new-entity-wrapper">
      <div class="new-entity-header">
        <%= link_to "", groups_url, class: 'fa fa-chevron-left back-icon' %>
        <h2>New Categorie</h2>
      </div>
      <%= render "form", group: @group %>
    </div>
  </body>
</html>

