/* stylelint-disable function-calc-no-invalid */
.new-user-wrapper {
  display: flex;
  width: 390px;
  flex-direction: column;
  align-items: center;
}

.new-user-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  width: 390px;
  background-color: #3778c2;
}

.new-user-header h2 {
  width: 390px;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
