/* stylelint-disable function-calc-no-invalid */
.logo {
  margin-bottom: 220px;
}

.logo-img {
  width: 300px;
  height: 300px;
}

.splash-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40em;
  width: 390px;
}

.actions-splash {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 390px;
  height: 100px;
}

.action-button button {
  width: 370px;
  height: 50px;
  font-size: 15px;
}

.login-button-wrapper button {
  color: #fff;
  background: #3778c2;
  border: none;
}

.signup-button-wrapper button {
  border: none;
  background-color: #fff;
}
